<%pirate = Pirate.new(params[:pirate][:name], params[:pirate][:weight], params[:pirate][:height])%>
<%params[:pirate][:ships].each do |ship|%>
  <%Ship.new(ship[:name], ship[:type], ship[:booty])%>
<%end%>
<h1>Display your Pirate here</h1>
<h3>Pirate's name: <%=pirate.name%></h3>
<h3>Pirate's weight: <%=pirate.weight%></h3>
<h3>Pirate's height: <%=pirate.height%></h3>

<%Ship.all.each do |ship|%>
  <h3>Ship's name: <%=ship.name%></h3>
  <h3>Ship's type: <%=ship.type%></h3>
  <h3>Ship's booty: <%=ship.booty%></h3>
<%end%>
